<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div th:if="${erro}" th:text="${erro}" style="color: red;"></div>
        <label for="username">Usuário</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Senha</label>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>